/client/client.exe
/server/server.exe

# Ignore public/private keypair

/client/src/Key.go
/KEYS.txt

# Ignore config
/client/clientConfig.json

/client/client.log
/server/server.log

# Ignore all the stream and logs!
/client/debugStream.log
/client/state_logs.log

/server/debugStream.log
/server/state_logs.log